.user__form {
  display: flex;
  flex-direction: column;
}

.user__title {
  display: flex;
  margin-left: 1em;
  margin-bottom: 1em;
}

.form__container {
  margin-left: 2em;
  display: grid;
  grid-template-columns: 40rem 1fr;
  column-gap: 10rem;
  row-gap: 2rem;
}

.form__error {
  margin-top: 0.3rem;
}

.form__error,
.form__flash {
  display: block;
  padding: 0.5rem 0.3rem 0.3rem 0.3rem;
}

.form__error,
.form__flash--danger {
  color: crimson;
}

.form__flash {
  margin: 0.3rem;
}

.form__flash--success {
  color: yellowgreen;
}

.form__group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.field__group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.error__group {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.form__label {
  font-weight: 600;
  margin-right: 10px;
  align-self: center;
}

.form__field {
  width: 50%;
  height: 2rem;
  font-size: 1.25rem;
  padding: 2px 6px;
  align-self: center;
  outline: none;
  border: thin solid rgb(50, 50, 50, 0.25);
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 2px rgb(50, 50, 50, 0.25);
}

.form__field:focus {
  border: thin solid rgb(50, 50, 50, 0.6);
}

.field__area {
  height: 5rem;
}

.button__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 4rem;
}


.button--form {
  background-color: var(--background-color);
  border: #4488bf;
  font-size: 1.25rem;
  font-weight: normal;
  margin-right: 0.25rem;
  padding: 0.25rem 1rem;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  box-shadow: 1px 2px rgb(50, 50, 50, 0.25);
}

.button--form:hover {
  background-color: var(--background-color-hover);
  transition: 0.1s all linear;
}