.management__content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.table {
  margin-top: 1rem;
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid #dbdbdb;
  border-spacing: 0;
  background-color: white;
  box-shadow: 1px 2px 2px rgb(100, 100, 100, 0.10);
}

.table__body {
  display: block;
  height: 100%;
  max-height: 30rem;
  min-width: 80rem;
  overflow-y: overlay;
  overflow-x: hidden;
}

.table__head--row {
  min-width: 80rem;
  display: grid;
  grid-template-columns: 10% 15% 20% 20% 15% 20%;
  background-color: #f5f5f5;
}

.table__cell {
  padding: 0.1rem;
}

.table__cell--header {
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.table__body .table__body--row {
  height: 3.75rem;
  display: grid;
  grid-template-columns: 10% 15% 20% 20% 15% 20%;
  border-top: 1px solid #d9d9d9;
}

.table__body--row:nth-child(even) {
  background-color: #dbdbdb;
}

.table__cell--data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.table__cell--data:nth-child(3) {
  justify-content: left;
}

.toggle__action {
  display: flex;
  flex-direction: column;
  align-items: last baseline;
}

.toggle__action_link {
  text-decoration: none;
  color: inherit;
  font-size: 1.5rem;
  margin-left: 0.65em;
}

.toggle__action_link:hover {
  color: orange;
  transition: 0.1s all linear;
}

#action__yes {
  text-decoration: solid;
  color: green;
}

#action__yes:hover {
  color: orange;
  transition: 0.1s all linear;
}

#action__no {
  text-decoration: solid;
  color: darkred;
}

#action__no:hover {
  color: orange;
  transition: 0.1s all linear;
}

.action__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-size: 1.2rem;
  margin-left: 1rem;
}

.action__link:hover {
  color: orange;
  transition: 0.1s all linear;
}

.action__link--single {
  display: flex;
  align-self: flex-end;
  text-decoration: none;
  color: inherit;
  font-size: 1.25rem;
  margin-right: 1.25rem;
  align-items: center;
}

.action__link--single:hover {
  color: orange;
  transition: 0.1s all linear;
}

.pencil {
  width: 2.2rem;
  height: 2.2rem;
  margin-left: 4px;
  color: navy;
}

.trash {
  width: 2.2rem;
  height: 2.2rem;
  margin-left: 4px;
  color: crimson;
}

.check_circle {
  width: 2.2rem;
  height: 2.2rem;
  color: green;
}

.x_circle {
  width: 2.2rem;
  height: 2.2rem;
  color: darkred;
}

.plus_circle {
  width: 2.25rem;
  height: 2.25rem;
  margin-right: 0.5rem;
}

.form__error {
  margin: 0.1rem;
}

.form__error,
.form__flash {
  display: flex;
  padding: 0.5rem 0.3rem 0.3rem 0.3rem;
}

.form__error,
.form__flash--danger {
  color: crimson;
}

.form__flash {
  margin: 0.3rem;
  align-self: flex-end;
}

.form__flash--success {
  color: yellowgreen;
}

.form__flash--info {
  color: skyblue;
}