{% extends "admins/layout.html" %}

{% block title %}
  <title>Home | Linux Lab</title>
{% endblock %}

{% block main_content %}
<section class="home">
  <article class="home_article">
    <h1 class="home__title">Welcome !</h1>
    <p class="home__content">
      <em>LinuxLab</em> is a system developed for all people who just getting started to use
      Linux command line and would like to learn the basics. This learning would utilize the
      <em>Capture The Flag</em> games method and players must solve challenges through levels.
    </p>
  </article>
</section>
{% endblock main_content %}