.button {
  --background-color: #4488bf;
  --background-color-hover: #d5ad36;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8px;
  background-color: #fdfdfd;
}

@media screen and (max-width: 25em) {
  html {
    font-size: 10px;
  }
}

@media screen and (max-width: 50em) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 75em) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 100em) {
  html {
    font-size: 16px;
  }
}

body {
  box-sizing: border-box;
  margin: 0;
}

.header {
  padding: 0;
}

.navbar {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #ca9703;
}

.navbar__brand {
  height: 4rem;
  width: 100%;
  max-width: 14rem;
  display: flex;
  align-items: center;
  background-color: #265999;
}

.navbar__logo {
  margin-left: 2.5em;
  margin-right: 7.5em;
  width: 5rem;
  height: 5rem;
}

.navbar__navigation {
  margin-left: 1em;
  display: flex;
  color: #ffffff;
  width: 100%;
}

.navbar__navigation--main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 1rem;
}

.navbar__navigation--profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 2.5rem;
}

.navbar__item {
  font-size: 1.3em;
}

.navbar__link {
  display: flex;  
  align-items: center;
  padding: 0;
  margin: 0 1rem;
  text-decoration: none;
  color: inherit;
}

.navbar__link--active {
  text-decoration: underline;
}

.navbar__link:hover {
  color: #4488bf;
  transition: 0.1s all linear;
}

.navbar__link-signed {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0.5rem;
  text-decoration: none;
  color: inherit;
}

.signed__item {
  font-size: 1.4em;
}

#profile__item {
  text-decoration: underline;
}

.navbar__link-signed:hover {
  color: #4488bf;
  transition: 0.1s all linear;
}

.main {
  max-width: 100rem;
  margin: 0 auto;
  padding: 5rem;
  font-size: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home{
  max-width: 100rem;
  margin: 4rem 0rem 0rem 7rem;
}

.home__article {
  margin: 50px;
}

.home__title {
  display: inline;
  font-size: 36px;
}

.home__content {
  max-width: 1000px;
  margin-top: 70px;
  font-size: 24px;
  line-height: 150%;
}

.index__link {
  text-decoration: none;
  color: #ca9703;
}

.index__link:hover {
  color: #4488bf;
  transition: 0.1s all linear;
}