.menu {
  height: 100%;
  width: 100%;
  max-width: 14rem;
  margin: 0;
  padding: 0 1px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  background-color: #4488bf;
}

.menu__list {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  color: #ffffff;
}

.menu__item {
  margin-bottom: 5px;
  padding: 20px;
  background-color: rgb(255, 255, 255, 0.15);
}

.menu__link {
  text-decoration: none;
  color: inherit;
}

.menu__link--active {
  text-decoration: underline;
}

.menu__link:hover {
  text-decoration: underline;
  transition: 0.2s all linear;
}

.menu__content {
  margin-right: auto;
}

.level {
  margin: 50px 50px 50px 68px;
}

.level__title {
  display: inline;
  font-size: 36px;
}

.level__content {
  max-width: 1000px;
  margin-top: 2em;
  font-size: 24px;
  line-height: 100%;
}

.content__title{
  font-size: 1.3rem;
  font-weight: 600;
}

.content__subtitle {
  max-width: 1000px;
  margin-top: 1em;
  font-size: 1.25rem;
  line-height: 100%;
}

.reference__list {
  margin-left: 0.5em;
  list-style: none;
}

.list__link{
  margin: 1rem 0;
}

.reference__link {
  color: inherit;
  text-decoration: none;
}

.reference__link:hover {
  text-decoration: underline;
  transition: 0.1s all linear;
}

.form {
  display: flex;
  margin-top: 2rem;
}

.form__content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.form__error {
  margin: 0.1rem;
}

.form__error,
.form__flash {
  display: flex;
  padding: 0.5rem 0.3rem 0.3rem 0.3rem;
}

.form__error,
.form__flash--danger {
  color: crimson;
}

.form__flash {
  margin: 0.3rem;
}

.form__flash--success {
  color: yellowgreen;
}

.form__flash--info {
  color: deepskyblue;
}

.form__group {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.form__input {
  width: 100%;
}

.form__label {
  font-weight: 600;
  margin-right: 10px;
}

.form__field {
  height: 1.7rem;
  font-size: 18px;
  padding: 0 10px;
  margin-right: 10px;
  outline: none;
  border: thin solid rgb(50, 50, 50, 0.25);
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 2px rgb(50, 50, 50, 0.25);
}

.form__field:focus {
  border: thin solid rgb(50, 50, 50, 0.6);
}

.button__flag-submit {
  display: block;
  align-self: auto;
}

.button--form {
  background-color: var(--background-color);
  border: #4488bf;
  font-size: 1rem;
  font-weight: normal;
  padding: 0.1rem 1rem;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  box-shadow: 1px 2px rgb(50, 50, 50, 0.25);
}

.button--form:hover {
  background-color: var(--background-color-hover);
  transition: 0.1s all linear;
}