{% extends "admins/layout_sub.html" %}

{% from "macros/fields_management.html" import render_text_field, 
  render_area_field, render_date_field, render_boolean_field %}

{% block title %}
<title>Question Management - Create | Linux Lab</title>
{% endblock %}

{% block head_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/forms_question_management.css') }}" />
{% endblock head_content %}

{% block main_content %}
<div class="management__content">
  <form class="question__form" name="question_create" method="POST" novalidate>
    <h1 class="question__title">Create New Question</h1>
    <div class="form__container">
      {{ form.hidden_tag() }}
      {{ render_text_field(form.quiz) }}
      {{ render_area_field(form.question) }}
      {{ render_text_field(form.points) }}
      {{ render_boolean_field(form.is_active) }}
      {{ render_date_field(form.period) }}
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
    <span class="form__flash form__flash--{{ category }}">{{ message }}</span>
    {% endfor %}
    {% endwith %}
    <div class="button__container">
      {{ form.submit(class_="button button--form") }}
    </div>
  </form>
</div>
{% endblock main_content %}